@page "/channel/add"
@rendermode InteractiveServer

<nav class="navbar navbar-vertical navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content">
            <div class="navbar-nav flex-column" id="navbarVerticalNav">
                <div class="d-flex flex-column align-items-center gap-3 p-2 mx-3">
                    <div class="w-100 text-center" style="max-width: 300px;">
                        <span class="fs-8">
                            Add A Channel
                        </span>
                    </div>
                    <div class="w-100" style="max-width: 300px;">
                        <InputText @bind-Value="searchTerm" class="form-control w-100" placeholder="Search" />
                    </div>
                    <div class="w-100" style="max-width: 300px;">
                        <button class="btn btn-phoenix-primary w-100" @onclick="SearchChannels">Channel Search</button>
                    </div>
                    <div class="w-100" style="max-width: 300px;">
                        @if (IsBusy)
                        {
                            <div class="d-flex gap-2">
                                <button class="btn btn-phoenix-success btn-sm" type="button">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="visually-hidden">Loading...</span>
                                </button>
                                <button class="btn btn-phoenix-success flex-grow-1" type="button">Loading Videos</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="content pt-7 px-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 mb-9 mt-0">
        @foreach (var channel in Channels)
        {
            <div class="col">
                <div class="card h-100 hover-actions-trigger">
                    <div class="card-body">
                        <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
                            <div class="col-12 col-sm-auto">
                                <input class="d-none" id="avatarFile" type="file">
                                <label class="cursor-pointer avatar avatar-5xl" for="avatarFile">
                                    <img class="rounded-circle" src="@channel.ThumbnailURL" alt="">
                                </label>
                            </div>
                            <div class="col-12 col-sm-auto flex-1">
                                <h3>@channel.Title</h3>
                                <p class="text-body-secondary">@channel.Description</p>
                                <div>
                                    <a class="btn btn-primary p-2" href=@($"https://www.youtube.com/channel/{channel.YTId}/videos") target="_blank">
                                        <span class="fw-semibold">View</span>
                                    </a>
                                    <button type="button" class="btn btn-primary p-2" @onclick="@(() => SaveChannel(channel.YTId))">
                                        <span class="fw-semibold">Track</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <Footer />
</div>